.create-device {
  width: 250px;
  margin: 40px auto;
}

.create-device input {
  display: block;
  width: 100%;
  padding: 6px;
  margin-bottom: 8px;
}

.create-device button {
  padding: 6px 12px;
}
