<h2>Device Summary</h2>

@if (device) {

<!-- VIEW MODE -->
@if (!editMode) {

<p><strong>Name:</strong> {{ deviceResponse.name }}</p>
<p><strong>Part Number:</strong> {{ deviceResponse.partNumber }}</p>
<p><strong>Building:</strong> {{ deviceResponse.building }}</p>
<p><strong>Type:</strong> {{ deviceResponse.type }}</p>

<button (click)="enableEdit()">Edit</button>
<button (click)="delete()">Delete</button>

}

<!-- EDIT MODE -->
@if (editMode) {

<input [(ngModel)]="device.deviceName" placeholder="Device Name">
<input [(ngModel)]="device.partNumber" placeholder="Part Number">
<input [(ngModel)]="device.buildingName" placeholder="Building">
<input [(ngModel)]="device.deviceType" placeholder="Type">

<button (click)="update()">Save</button>
<button (click)="editMode = false">Cancel</button>
}

<hr>

<h3>Shelf Positions</h3>

@for (sp of deviceResponse.shelfPositions; track $index) {

<p><strong>Position {{ sp.positionNumber }}</strong></p>

@if (sp.shelf) {
<p>
  Shelf: {{ sp.shelf.shelfName }}
  ({{ sp.shelf.partNumber }})
</p>
} @else {
<button (click)="addShelf(sp.id)">Add Shelf</button>
}

<hr>
}
}

